<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Your favorite resto is here">
  <meta name="theme-color" content="#C75B7A" />
  <link rel="apple-touch-icon" href="../public/icons/icon-192x192.png" />
  <link rel="manifest" href="./app.webmanifest" />
  <link rel="icon" href="./favicon.png" />

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />


  <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async=""></script>
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Restau-Run</title>
</head>

<body>
  <a href="#main-content" class="skip-link">Skip to Content</a>

  <!-- Nav Bar -->
  <navbar-element></navbar-element>

  <!-- Hero Element -->
  <div class="hero">
    <picture>
      <source media="(max-width: 600px)" srcset="./hero-image_4-small.jpg">
      <source media="(min-width: 601px)" srcset="./hero-image_4-large.jpg">
      <img src="./hero-image_4-large.jpg" alt="Delicious Food" class="hero-image">
    </picture>
  </div>

  <div id="loading" class="loading-spinner" style="display: none;"></div>

  <!-- Main Content -->
  <main id="main-content">
    <section id="restaurant-list" class="restaurant-list">
      <!-- Daftar restoran disi oleh Javascript -->
    </section>
    <section id="main-content"></section>
    <section id="main-content"></section>
  </main>

  <!-- Footer -->
  <footer-element></footer-element>
</body>

</html>