/* Base styles (for mobile devices) */
body {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
}

.header {
  width: 100%;
  background-color: #333;
}

.hero {
  width: 100%;
}

.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Small devices (phones, 320px and up) */
@media screen and (min-width: 320px) {
  .header {
    font-size: 10px;
  }

  .hero_title {
    font-size: 40px;
  }

  .hero_tagline {
    font-size: 16px;
  }

  #menu {
    display: block;
    margin-right: 20px;
    width: 44px;
    height: 44px;
  }

  .nav {
    top: 0;
    z-index: 99;
    width: 250px;
    position: absolute;
    transform: translateX(-100%);
    background-color: #333;
    text-align: left;
    transition: transform 0.3s ease;
  }

  .nav_list {
    flex-direction: column;
    padding: 0;
    margin: 0;
    transform: translateX(0);
  }

  .open {
    transform: translateX(0);
  }

  .headline_title {
    font-size: 30px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .header {
    font-size: 14px;
  }

  .hero_title {
    font-size: 60px;
  }

  .hero_tagline {
    font-size: 24px;
  }

  #menu {
    display: none;
  }

  .nav {
    position: static;
    width: 100%;
    transform: none;
  }

  .nav_list {
    flex-direction: row;
  }
  .nav_item {
    display: inline-block;
    border-bottom: none;
  }

  .header_title {
    font-size: 2em;
  }

  .nav {
    text-align: center;
  }

  .nav_item {
    display: block;
    margin-bottom: 10px;
  }

  .hero_title {
    font-size: 50px;
  }

  .hero_tagline {
    font-size: 24px;
  }

  .headline_title {
    font-size: 2.5em;
  }

  .resto-item_name h2 {
    font-size: 28px;
  }
}

/* Large devices (desktops, 1024px and up) */
@media screen and (min-width: 1024px) {
  .header {
    font-size: 16px;
  }

  .hero_title {
    font-size: 80px;
  }

  .hero_tagline {
    font-size: 32px;
  }

  .content {
    max-width: 1000px;
    margin: 0 auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .hero_title {
    font-size: 100px;
  }

  .content {
    max-width: 1200px;
  }
}
